POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=haadthip_procurement
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@db:5432/haadthip_procurement?schema=public
NEXT_PUBLIC_APP_URL=http://localhost:3000
SEED_ON_START=true
